*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}
body{
    width: 100%;
    background-color: gray;
}
.pagewrapper{
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formwrapper{
    width: 60%;
    min-height: 550px;
    box-shadow:1px 1px 20px rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    margin: 5px;
}
.formwrapper>h2{
    text-align: center;
    margin-bottom: 10px;
}
.formwrapper>div>h3{
    text-align: center;
}
.type{
    width: 100%;
    display: flex;
    margin: 10px 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.type>div{
    padding: 10px 15px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 10px;
}
.type>div:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 1s;
}
.udisplay{
    display: flex;
}
.udisplay>div{
    margin: 10px;
}
#vfrom, #vto{
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    border: 1px solid white;
    outline: none;
    width: 150px;
}
button{
    padding: 8px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
}
button:hover, #reverse:hover{
    cursor: pointer;
    color: black;
    background-color: white;
    transition: 1s;
}
#reverse:hover .fa-exchange{
    cursor: pointer;
    color: black;
    background-color: white;
    transition: 1s;
}
#funit>div, #tunit>div{
    margin: 5px;
}
input[type="radio"]:checked{
    accent-color: gray;
}
#reverse, #delete{
    padding: 8px;
    border-radius: 50%;
    border: 1px solid white;
    margin-right: 5px;
}
#none{
    display: flex;
    opacity: 0;
}

/* <------------------- Media Query Section ---------------------> */
@media screen and (max-width: 600px) and (min-width: 320px){
    .formwrapper{
        width: 95%;
    }
}